body {
  width: 100%;
}

body .body_inner {
  margin: 0 auto;
}

body .body_inner header {
  width: 70%;
  padding: 80px 0 80px;
  margin: 0 auto;
}

body .body_inner header .header_inside {
  display: flex;
  justify-content: space-between;
}

body .body_inner header .header_inside .header_title {
  font-size: 30px;
}

body .body_inner header .header_inside .hamburger_menu {
  width: 30px;
  height: 25px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: relative;
}

body .body_inner header .header_inside .hamburger_menu:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 3px solid #000;
  transform: translate(0, -50%);
}

body .body_inner header .navs {
  display: none;
}

body .body_inner .top_section {
  width: 70%;
  padding: 80px 0 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body .body_inner .top_section .top_descs {
  line-height: 3;
  font-size: 30px;
  letter-spacing: 2px;
}

body .body_inner .top_section img {
  width: 40%;
}

body .body_inner .introduction {
  background: #009688;
  height: 700px;
}

body .body_inner .introduction .intro_inner {
  width: 70%;
  margin: 0 auto;
  padding: 80px 0 80px;
  text-align: center;
  color: #fff;
}

body .body_inner .introduction .intro_inner .intro_title {
  font-size: 30px;
  margin: 40px 0 40px;
}

body .body_inner .introduction .intro_inner .intro_desc {
  line-height: 2;
}

body .body_inner .introduction .intro_inner .intro_desc .intro_profile {
  width: 50%;
  margin: 0 auto;
}

body .body_inner .skills {
  position: relative;
  height: 450px;
}

body .body_inner .skills .skills_inner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 70%;
  display: flex;
  justify-content: center;
}

body .body_inner .skills .skills_inner .skills_item {
  margin: 10px;
  border-radius: 20px;
  background: #fff;
  width: 25%;
  text-align: center;
  border: 1px solid #d3d3d3;
}

body .body_inner .skills .skills_inner .skills_item .skills_icon {
  color: #009688;
  font-size: 40px;
  margin: 40px 0 40px;
}

body .body_inner .skills .skills_inner .skills_item h2 {
  font-size: 20px;
  margin: 0 0 40px;
}

body .body_inner .skills .skills_inner .skills_item .skills_desc .skills_desc_p {
  height: 40px;
}

body .body_inner .skills .skills_inner .skills_item .skills_desc .skills_desc_h3 {
  color: #009688;
  height: 30px;
  line-height: 30px;
}
